.git
.gitignore
__pycache__
*.pyc
*.pyo
*.pyd
*.swp
*.swo
*.log
.venv
.dvc
.dvcignore
.ruff_cache
.streamlit
.hydra
*.ipynb_checkpoints
dist/
build/
*.egg-info
data/*
!data/models/
data/models/*
!data/models/herdnet_v2/
data/models/herdnet_v2/*
!data/models/herdnet_v2/best_model.pth
data_exploration/
#dashboard/
docs/
marimo-nbs/
notebooks/
outputs/
test/
*.ipynb
