.git
.gitignore
__pycache__
*.pyc
*.pyo
*.pyd
*.swp
*.swo
*.log
.venv
.dvc
.dvcignore
.ruff_cache
.streamlit
.hydra
*.ipynb_checkpoints
dist/
build/
*.egg-info
data/
data_exploration/
#dashboard/
docs/
marimo-nbs/
notebooks/
outputs/
test/
*.ipynb
