/val_big_size_A_B_E_K_WH_WB-fixed-header.csv
/train_big_size_A_B_E_K_WH_WB-fixed-header.csv
/test_big_size_A_B_E_K_WH_WB-fixed-header.csv
/test_big_size_A_B_E_K_WH_WB-points.csv
/train_gt_boxes_and_hard_negs.csv
/val_gt_boxes_and_hard_negs.csv
